@charset "UTF-8";
@import url(/source/style_Reset.css);

/* main#main div#contents 시작 */


main#main>div#contents {
	padding: 0 10px;
	/* border: 1px solid #f80; */
	margin: 10px;
	flex: 1;
}

main#main>div#contents h2#indexGuideMsg {
	/* 인덱스 페이지에서만 적용됨 */
	text-align: center;
	margin-top: 50px;
}

/* main#main div#contents 끝 */